<!DOCTYPE html>
<html>
  <head>
      <% include ../partials/head %>
  </head>
  <body>
      <h3>Hello world!</h3>
      <div class="wrapper" align="center">



          <button class="myswitch"></button>


      </div>



      <script>
      $(document).ready(function() {
            $('.myswitch').click(function() {
                  $(this).toggleClass("myswitchOn");
        });
      });




      </script>

  </body>
</html>
